/* button */


.sbtn {
  border-radius: 1em;
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin-left: 400px;
  margin-right: 360px;
  padding: 1.2em 1.2em;
  text-decoration: none;
  
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
.sbtn:hover, .sbtn1:focus {
  color: #fff;
  outline: 0;
}

.addition {

 border-color: #008000;
  color: #fff;
  box-shadow: 0 0 40px 40px #008000 inset, 0 0 0 0 #008000;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.addition:hover {
  box-shadow: 0 0 10px 0 #008000 inset, 0 0 10px 4px #008000;
}






/* footer */
footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  margin-top: 50px;
}

body
{
	
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


#footer .container-fluid
{
    padding:0.1px 15%;
}

.social-icon {
  margin: 20px 10px;

    font-size:2rem;
    color:white;
}


#delete-form
{
	display: inline;
}

.jumbotron{
    background-image: url('http://i.imgur.com/K3mPv14.jpg');
    background-size: cover;
    height: 100%;}
